<div class="container-fluid rodape">
  <div class="container">
    <div class="row">

      <div class="col-md-6  mt-3 text-light d-flex justify-content-center">
        <small>Projeto desenvolvido para fins de estudo, nenhum dos itens listados neste site estão realmente a venda ou
          em estoque.</small>
      </div>

      <div class="col-md-6 mt-3 d-flex justify-content-end">
        <div>
          <button class="g mr-3"><a href="https://www.facebook.com/" target="_blank"><i class="uil uil-facebook-f"
                aria-hidden="true"></i></a></button>
          <button class="g mr-3"><a href="https://twitter.com/" target="_blank"><i class="uil uil-twitter"
                aria-hidden="true"></i></a></button>
          <button class="g mr-3"><a href="https://www.google.com.br/" target="_blank"><i class="uil uil-google"
                aria-hidden="true"></i></a></button>
          <button class="g mr-3"><a href="https://www.youtube.com/" target="_blank">
              <i class="uil uil-youtube" aria-hidden="true"></i> </a></button>
          <button class="g mr-3"><a href="https://www.instagram.com/" target="_blank"><i class="uil uil-instagram"
                aria-hidden="true"></i></a></button>
        </div>
      </div>

    </div>
  </div>
</div>
