<div class="container-fluid">
  <div class="row bg-danger barra">
    <div class="col-md-3 d-flex  align-items-center">
      <img
        src="assets/img/logoTindinBranco.png"
        alt=""
        class="logo"
        width="80"/>
        <img
        src="assets/img/logoTindinEscritaBranco.png"
        alt=""
        class="logo ml-3"
        width="200"/>
    </div>

    <!-- barra de pesquisa -->
    <div class="col-md-5 d-flex align-items-center form-group ">
      <input type="text" class="form-control barraPesquisa" name="pesquisa" id="pesquisa">
      <span class="uil uil-search border border-danger pesquisaButton"></span>
    </div>
    <!-- barra de pesquisa -->

    <!-- logar e cadastrar -->
    <div class="col-md-2 d-flex align-items-center justify-content-center">
      <small class="text-white text-center">
        Faça aqui seu <a routerLink='/login' class="link">LOGIN</a>
      </small>
    </div>
    <!-- /logar e cadastrar -->

    <!-- carrinho -->
    <div class="col-2 d-flex align-items-center fs-4 justify-content-evenly">
      <i class="uil uil-shopping-bag icons position-relative" aria-hidden="true" routerLink='/checkout'>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill">
          <span class="visually-hidden">Itens no carrinho</span>
        </span>
      </i>
    </div>
    <!-- /carrinho -->

  </div>

</div>
