.fundo{
  background-color: var(--vermelho);
}

.barra {
  min-height: 125px;
  background-color: var(--vermelho);
}

.logo{
  cursor: pointer;
}

.barraPesquisa{
  border-radius: 50px;
}

.pesquisaButton {
  background-color: var(--dark);
  border-radius: 50px;
  padding:0.250rem 1rem;
  color: var(--white);
  margin-left: -60px;
}

.pesquisaButton:hover {
  background-color: var(--vermelho);
}

.link {
  color: var(--white);
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
  color: var(--dark);
}

.icons {
  color: var(--white);
  cursor: pointer;
}

.icons:hover{
  color: var(--dark);
}
