.titulo {
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}

.card:hover {
  color: var(--cinza-claro);
  border-color: var(--white);
  transform: translate3d(0, -3px, 0);
}

.card {
  background-color: transparent;
  border:solid 3px;
  border-color: var(--cinza);
  border-radius: 0.50rem;
  transition: 0.7s ease;
}


i{
  font-size: 30px;
  color: var(--vermelho);
  cursor: pointer;
}
i:hover{
  font-size: 31px ;
  color: var(--verde-td);
}

.produto-card {
  width: 300px;
  min-height: 250px;
}